@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

@layer base {

    body{
        @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
    }

    h1, h2, h3, h4, h5, h6{
        @apply font-bold
    }

    h1{
        @apply text-4xl sm:text-5xl md:text-6xl
    }

    h2{
        @apply text-4xl sm:text-4xl
    }

    li{
        @apply cursor-pointer
    }

    
    .btn{
        @apply inline-block p-2 shadow-xl shadow-gray-400 rounded-xl uppercase bg-blue-700
    }

    .btn:hover{
        @apply bg-blue-700 text-white
    }

    .btn-outline{
        @apply border-2 p-2 inline-block bg-transparent rounded-xl uppercase border-blue-700 text-gray-300
    }

    .btn-outline:hover{
        @apply bg-blue-700 text-white
    }

    .icolink:hover{
        @apply text-blue-700 ease-in duration-300
    }

    .mask{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../public/assets/headerImg.jpg');
        background-size: cover;
        background-position: center;
    }

    
}





.lines__container{
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: center;
}

.line{
    border-radius: 2.1rem;
    height: fit-content;
    display: flex;
    align-items: center;
}

.line__head{
    text-align: center;
    margin: 1rem;
}

.line__icon{
    font-size: 2rem;
    text-align: center;
}

.line__head h2{
    color: var(--white);
}


/*========= MEDIA QUERIES (MEDIUM) =================*/
@media screen and (max-width: 1024px) {
    .lines__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .line{
        height: auto;
    }
}
 
 /*========= MEDIA QUERIES (SMALL) =================*/
 @media screen and (max-width: 600px) {
     .lines__container{
         display: block;
         justify-content: center;
         
     }
     .line{
         justify-content: center;
     }
}